@page "/DocumentManagement"
@using Microsoft.Extensions.Localization
@using global::HSmart.DocumentManagement.Localization
@inject IStringLocalizer<DocumentManagementResource> L
@{
}
<h1>DocumentManagement</h1>
<p>@L["SamplePageMessage"]</p>